@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-navy-800: hsl(235, 41%, 34%);
  --color-navy-200: hsl(236, 100%, 87%);
  --color-orange-300: hsl(15, 100%, 70%);
  --color-purple-700: hsl(264, 64%, 52%);
  --color-purple-600: hsl(246, 80%, 60%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-blue-300: hsl(195, 74%, 62%);
  --color-pink-400: hsl(348, 100%, 68%);
  --color-green-400: hsl(145, 58%, 55%);
  --color-yellow-300: hsl(43, 85%, 65%);
  --color-grey-200: hsl(0, 0%, 85%);

  --font-family: 'Rubik', sans-serif;

  --text-preset-1: normal 300 56px/66px 'Rubik', sans-serif;
  --text-preset-2: normal 300 40px/47px 'Rubik', sans-serif;
  --text-preset-3: normal 300 32px/38px 'Rubik', sans-serif;
  --text-preset-4: normal 300 24px/28px 'Rubik', sans-serif;
  --text-preset-5-regular: normal 400 18px/21px 'Rubik', sans-serif;
  --text-preset-5-medium: normal 500 18px/21px 'Rubik', sans-serif;
  --text-preset-6: normal 300 15px/18px 'Rubik', sans-serif;
}